<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	    	<title>Todo</title>
	</head>
	<body>
		<h1>Todo</h1>

		{% if todos %}
		<ul>
			{% for todo in todos %}
			<li>{{ todo.content }}</li>
			<a href="/update/{{ todo.id }}">Update</a>
			<a href="/delete/{{ todo.id }}">Delete</a>
			{% endfor %}
		</ul>
		{% endif %}

		<form action="/add" method="post">
			<input type="text" name="content" required>
			<button type="submit">Add</button>
		</form>
	</body>
</html>

